.container {
  max-width: 400px;
  margin-right: auto;
  margin-top: 7px;
  margin-left: 14px;
  display: flex;
  flex-direction: column;
  border: 1px solid gray;
  border-radius: 3px;
  padding: 7px 14px;
  max-height: 500px;
  height: 100%;
}

.controls {
  display: flex;
  align-items: center;

  margin-bottom: 7px;
}

.control {
  &Number {
    width: 100%;
  }
}

.table {
  height: 100%;
  min-height: 100%;
  overflow-y: scroll;

  &Item {
    display: flex;
    justify-content: space-between;

    &Active {
      background-color: rgba(125, 125, 125, 0.5);
      color: white;
    }
  }

  &Body {
    height: 100%;
    overflow-y: scroll;
  }

  &Header {
    @extend .tableItem;
    font-size: 16px;
    font-weight: bold;
    border-bottom: 1px solid gray;
    margin-bottom: 4px;
    position: sticky;
    top: 0;
    background-color: white;
  }
}